@media print {

  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact; /* Pour la compatibilité avec les navigateurs Webkit */
    }
    @page {
        margin: 0; /* Supprimer toutes les marges */
      }
    body {
    width: 210mm;
      height: 297mm;
      padding: 2mm; /* Hauteur pour une page A4 */

    }
    header {
        display: none;  /* Exclut cet élément lors de l'impression */
      }
  }
  